<div class="alumnos-actions">
    <button
        mat-icon-button
        color="primary"
        matTooltip="Ver apoderados"
        aria-label="Ver apoderados"
        (click)="viewApoderados()"
    >
        <mat-icon>family_restroom</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Editar" aria-label="Editar alumno" (click)="editAlumno()">
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" matTooltip="Eliminar" aria-label="Eliminar alumno" (click)="deleteAlumno()">
        <mat-icon>delete</mat-icon>
    </button>
</div>
