<div class="flex min-w-0 flex-auto flex-col">
    <div class="flex-auto p-6 sm:p-10">
        <section>
            <header class="apoderados__header">
                <form class="apoderados__filters" [formGroup]="filtersForm" autocomplete="off">
                    <mat-form-field appearance="outline" class="apoderados__field">
                        <mat-label>DNI</mat-label>
                        <input
                            matInput
                            type="search"
                            formControlName="documento"
                            placeholder="Buscar por DNI"
                            maxlength="15"
                            inputmode="numeric"
                        />
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="apoderados__field">
                        <mat-label>Apellidos y nombres</mat-label>
                        <input
                            matInput
                            type="search"
                            formControlName="nombres"
                            placeholder="Buscar por apellidos o nombres"
                            maxlength="150"
                        />
                    </mat-form-field>
                </form>

                <button
                    mat-raised-button
                    color="primary"
                    type="button"
                    (click)="createApoderado()">
                    <mat-icon>add</mat-icon>
                    Nuevo apoderado
                </button>
            </header>

            <mat-progress-bar
                *ngIf="isLoading$ | async"
                mode="indeterminate"
                color="primary"></mat-progress-bar>

            <ag-grid-angular
                style="width: 100%;height: 100%;"
                class="ag-theme-quartz apoderados__grid"
                [rowData]="filteredApoderados$ | async"
                [columnDefs]="columnDefs"
                [defaultColDef]="defaultColDef"
                [animateRows]="true"
                [rowHeight]="56"
                [domLayout]="'autoHeight'"
                (gridReady)="onGridReady($event)"></ag-grid-angular>
        </section>
    </div>
</div>
