:host {
  display: block;
}

mat-dialog-content {
  max-height: 70vh;
  overflow: auto;
}

mat-dialog-actions {
  padding: 16px 24px;
}

mat-table {
  background-color: transparent;
}

mat-header-cell {
  border-bottom: 1px solid rgb(229 231 235 / 1);
}

mat-cell {
  border-bottom: 1px solid rgb(243 244 246 / 1);
}

mat-form-field {
  margin: 0;
}

button[mat-icon-button][disabled] {
  opacity: 0.4;
}
