:host {
  display: block;
}

.my-mat-table {
  border-collapse: separate;
  border-spacing: 0;
}

tr.mat-mdc-row.is-active-row {
  position: relative;
  background: rgba(25, 118, 210, 0.08); // tinte suave
  transition: background 120ms ease;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    bottom: 2px;
    width: 3px;
    border-radius: 2px;
    background: rgb(25, 118, 210);
  }
}

mat-form-field {
  margin: 0;
}

.w-32 { width: 8rem; }
.w-28 { width: 7rem; }

.space-y-4 > * + * { margin-top: 1rem; }
